body{
    background: url('./assets/dark.png')rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
@media(max-width: 991px){
    .sidecanva{
        background-color: rgb(37, 36, 36);
        color: black;
        backdrop-filter: blur(10px);
    }
}